/*-----------COLORS------------

Marigold #eba832



*/
/* --------------General Formatting-------------- */

body {
    background-image: url(./img/guitar_headstocks_bw.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 5em;
    text-align: center;
    padding: none;
    margin: .25em;
}

/*--------------Navigation Formatting--------------*/

nav {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
    margin: .5em auto;
}

nav a {
    color: inherit;
}

nav a:hover {
    text-decoration: none;
}


li {
    list-style-type: none;
    padding: .5em auto;
}

.book-lessons {
    text-decoration: underline 2px solid #eba832;

}