/*-----------COLORS------------

Marigold #eba832



*/
/* --------------General Formatting-------------- */
h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 4.5em;
    text-align: center;
    padding: none;
    margin: .25em;
}

h1 a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: black;
}

h2,
h3 {
    font-family: 'playfair display', serif;
}


body {
    background: #FBFCFC;
}

/*--------------Navigation Formatting--------------*/

nav {
    font-family: 'Playfair Display', serif;
    font-size: 1.2em;
    display: flex;
    justify-content: space-evenly;
    margin: .5em auto;
    overflow: visible;
}

nav a {
    color: inherit;
}

nav a:hover {
    text-decoration: none;
}


li {
    list-style-type: none;
}

.book-lessons-nav {
    text-decoration: underline 2px solid #e22c38;

}

/*--------------Index Page Formatting----------------------*/

.index-book-lessons {
        text-decoration: underline 1.5px solid black;
}

.index-img {
    width: 32%;
    height: auto;
    float: right;
    margin: 1em 5em;
    border-radius: 1%;
    border: 1px solid black;
}

.index-text {
    text-align: center;
    font-size: 1.3em;
    font-family: 'Lora', serif;
    margin: 3em;
    line-height: 1.7em;
}

/*--------------Mission Statement Formatting-----------------*/
.mission-statement {
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Lora', serif;
    font-size: 1.1em;
}

.mission-statement img {
    display: inline-flex;
    justify-content: flex-start;
    margin-top: 1%;
    width: 45%;
    height: auto;
    border-radius: 1%;
}

.mission-statement p {
    line-height: 1.8em;
}


/*---------------Music Formatting---------------*/

.bandcamp-embeds,
.youtube-embeds {
    display: flex;
    justify-content: center;
}

iframe {
    margin: 2em;
}

/*--------------------Book Lessons Formatting----------------------*/


.book-lessons-1,
.book-lessons-2 {
    font-family: 'Lora', serif;
    font-size: 1.1em;
    text-align: center;
}
.book-lessons-1 {
    margin-left: 28%;
    float: left;
}
.book-lessons-2 {
    margin-right: 28%;
    float: right;
}
.policy {
    text-decoration: underline 2px solid #e22c38
}

/*-------------------Experience Formatting---------------------*/
.exp-content-wrap {
    font-family: 'Lora', serif;
    font-size: 1.1em;
    text-align: center;
    line-height: 2em;
}

.exp-img {
    width: 32%;
    height: auto;
    float: right;
    margin: 1em 5em;
    border-radius: 1%;
    border: 1px solid black;
}

.exp-content-wrap li {
    list-style-type: none;
}

.experience {
    display: flow-root;
}

/*-----------------Responsive Formatting----------------------*/

@media only screen and (max-width: 820px) {
    .exp-content-wrap {
        text-align: center;
        display: block;
        justify-content: center;
    }

    .exp-img {
        float: none;
    }

    .index-img {
        display: flex;
        margin: auto;
        float: none;
    }

    .mission-statement {
        margin: 2rem;
    }

    .index-text {
        margin-top: 20px;
    }

    iframe {
        display: flex;
        align-items: center;
        margin: 2em auto;
    }

    .bandcamp-embeds,
    .youtube-embeds {
        display: block;
    }

    .youtube-vid {
        width: 350px;
        height: 300px;
    }

    h1 {
        font-size: 3.5em;
    }

    header {
        text-align: center;
    }

    nav {
        display: block;
    }

    nav li {
        margin: .7em;
    }
    .book-lessons-1, .book-lessons-2 {
     margin: auto;
     float: none;
    }

}